<div
  class="
    bg-gray-100
    w-full
    md:flex-col
    md:w-1/4
    flex
    sm:flex-row
    items-center
    justify-center
    space-y-4
  "
>
  <a
    href="#"
    class="
      bg-blue-500
      hover:bg-blue-700
      text-white
      font-bold
      py-2
      px-4
      rounded
    "
  >
    Home
  </a>
  <a
    href="#"
    class="
      bg-blue-500
      hover:bg-blue-700
      text-white
      font-bold
      py-2
      px-4
      rounded
    "
  >
    Settings
  </a>
</div>
<div class="w-full md:w-3/4 flex items-center justify-center">
  <p class="text-lg">
    This is some text on the right side of the page.
  </p>
</div>
