{
  "singleQuote": true,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "importOrder": ["^react$", "^components/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
